body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: sans-serif;
  max-height: 768px;
  max-width: 1024px;
}
main {
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.01);
  
}
header h1, h6 {
  text-align: center;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

.ui.card .content img {
  width: 100%;
  margin-bottom: 10px;
}

.ui.card .content {
  width: 100%;
  /* padding: 15px; */
}
.location {
  padding-bottom: 25px;
}

.residents {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 175px;
  bottom: -1px;
  width: 40%;
  height: 35px;
  border-radius: 3px;
  background-color: lightgrey;
} 